@model Mission06_Chew.Models.Application

@{
    ViewData["Title"] = "Confirmation";
}

<h2>Confirmation of Submission</h2>

<div class="container">
    <h4>Movie Details</h4>
    <dl class="dl-horizontal">
        <dt>Title</dt>
        <dd>@Model.Title</dd>

        <dt>Year</dt>
        <dd>@Model.Year</dd>

        <dt>Director</dt>
        <dd>@Model.Director</dd>

        <dt>Rating</dt>
        <dd>@Model.Rating</dd>

        <dt>Edited</dt>
        <dd>@Model.Edited</dd>

        <dt>Lent To</dt>
        <dd>@Model.LentTo</dd>

        <dt>Notes</dt>
        <dd>@Model.Notes</dd>
    </dl>
</div>

<a href="@Url.Action("Index", "Home")" class="btn btn-primary">Back to Home</a>
